flask
joblib
pandas
numpy
scikit-learn
imbalanced-learn
reportlab        # optional for PDF
xgboost          # optional if you want xgb models
shap             # optional for SHAP explanations
sqlalchemy       # optional, sqlite3 used builtin
matplotlib 
seaborn
